.Screens, .Login, .Newuser, .Dietary, .DiningHabits {
  text-align: center;
}

.header {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #E96040;
}
.header2 {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header3 {
  /* min-height: 20vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.body {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

h2{
  margin-top: 0px;
  color: black;

}

h3 {
  margin-top: 0px;
  color: black;
  font-weight: normal;

}
.orange-button {
  background-color: #E96040;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.5s; 
  font-size: 18px;
  font-weight: bold;
  min-width: 200px;
}

.clickable-text {
  color: #E96040;
  cursor: pointer;  
  font-size: smaller;
  margin-top: 5px;
  font-weight: semi-bold;
}

.signup {
  font-size: 18px;
  margin: 5px;
  border-color: black;
  border-width: 1px;
  border-radius: 5px;
  min-width: 350px;
  color: black;
  padding: 10px;
}



.checkboxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 

.checkbox-item {
  margin: 10px 0px;
}

.orangeText {
  color: #E96040;
}

.GroupDining {
  text-align: center;
}

.GroupDining .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #E96040;
  color: white;
}

.GroupDining .user-images {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.GroupDining .image-container {
  margin: 0 10px;
}

.GroupDining .dropdowns {
  margin-top: 20px;
}

.GroupDining .orange-dropdown {
  margin: 10px;
  padding: 5px;
  border: 1px solid #E96040;
  border-radius: 5px;
  color: #E96040;
}

.GroupDining .recommended-restaurants,
.GroupDining .current-selection {
  margin-top: 20px;
}

.GroupDining .restaurant-container {
  margin-bottom: 10px;
}

.GroupDining h3,
.GroupDining h4 {
  color: #E96040;
}

.GroupDining .orange-button {
  background-color: #E96040;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.5s;
  font-size: 18px;
  font-weight: bold;
  min-width: 200px;
}

.Reserve {
  text-align: center;
  padding: 20px;
}

.Reserve .restaurant-info {
  margin-bottom: 20px;
}

.Reserve .restaurant-info img {
  width: 200px;
  height: auto;
  margin-bottom: 10px;
}

.Reserve .form-group {
  margin-bottom: 20px;
}

.Reserve label {
  display: block;
  margin-bottom: 5px;
  color: #E96040;
  font-weight: bold;
}

.Reserve input,
.Reserve select {
  padding: 10px;
  border: 1px solid #E96040;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
}

.Reserve .orange-button {
  background-color: #E96040;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.5s;
  font-size: 18px;
  font-weight: bold;
  min-width: 200px;
}

.Home,
.Favorites {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.content {
  max-width: 600px;
  width: 100%;
  padding: 20px;
}

.restaurant-container,
.dish-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.restaurant-item,
.dish-item {
  text-align: center;
}

.restaurant-item img,
.dish-item img {
  width: 250px;
  height: auto;
}
.Home .orange-dropdown {
  padding: 10px;
  border: 1px solid #E96040;
  border-radius: 5px;
  color: white;
  background-color: #E96040;
  font-size: 15px;
  font-weight: bold;


}
.Home .search-bar {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #E96040;
  border-radius: 5px;
}

.Home .dropdown-section {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.FavButton {
  background-color: #E96040;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 175px;
  margin: 40px 60px;
  cursor: pointer;
  transition: background-color 0.5s;
  font-size: 18px;
  font-weight: bold;
  min-width: 200px;
}
h4 {
  margin-top: 0px;
  color: #E96040;
  font-weight: bold;
  font-size: 25px;
  margin: 0px;

}
.Home p {
  font-weight: normal;
  font-size: 22px;
  margin: 15px;
  margin-left: 0px;
  color: black;
  text-align: left;
}
.Favorites p {
  font-weight: normal;
  font-size: 22px;
  margin: 15px;
  margin-left: 0px;
  color: black;
  text-align: left;
}

.RestaurantInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.RestaurantInfo .content {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  text-align: center;
}

.RestaurantInfo .restaurant-info {
  margin-bottom: 20px;
}

.RestaurantInfo .restaurant-info img {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-bottom: 10px;
}

.RestaurantInfo .restaurant-info h2 {
  color: #E96040;
}

.RestaurantInfo .recommended-menu {
  margin-top: 20px;
}

.RestaurantInfo .menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.RestaurantInfo .menu-item img {
  width: 200px;
  height: auto;
  margin-bottom: 10px;
  margin-top: 15px;
}

.RestaurantInfo .menu-item h5 {
  color: #E96040;
  margin-bottom: 5px;
  font-size: 20px;
}

.RestaurantInfo .button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.RestaurantInfo .button-container button {
  flex: 1;
  margin: 0 10px;
}
.MyDiningGroups {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.MyDiningGroups .content {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  text-align: center;
}

.MyDiningGroups .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.MyDiningGroups .search-bar {
  margin-bottom: 20px;
}

.MyDiningGroups .search-bar input {
  width: 100%;
  padding: 10px;
  border: 1px solid #E96040;
  border-radius: 5px;
}

.MyDiningGroups .group-list {
  margin-bottom: 20px;
}

.MyDiningGroups .group-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #E96040;
  border-radius: 5px;
  cursor: pointer;
}

.MyDiningGroups .group-item.selected {
  background-color: #E96040;
  color: white;
}

.MyDiningGroups .group-item.selected .group-details p {
  color: white;
}

.MyDiningGroups .group-icon {
  margin-right: 10px;
}

.MyDiningGroups .group-icon img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.MyDiningGroups .group-details {
  text-align: left;
}

.MyDiningGroups .button-container {
  display: flex;
  justify-content: space-around;
}