.Screens,
.Login,
.Newuser,
.Dietary,
.DiningHabits {
  text-align: center;
}

.header {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #E96040;
}

h1 {
  margin-bottom: 100px;
}



.header .buttons {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header2 {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.header3 {
  /* min-height: 20vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.body {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: black;
}

h2 {
  margin-top: 20px;
  color: black;


}

h3 {
  margin-top: 0px;
  color: black;
  font-weight: normal;

}

.orange-button {
  background-color: #E96040;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 5px 20px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.5s;
  font-size: 18px;
  font-weight: bold;
  min-width: 175px;
}

.clickable-text {
  color: #E96040;
  cursor: pointer;
  font-size: smaller;
  margin-top: 5px;
  font-weight: semi-bold;
}

.signup {
  font-size: 18px;
  margin: 5px;
  border-color: black;
  border-width: 1px;
  border-radius: 5px;
  min-width: 290px;
  color: black;
  padding: 10px;
}


.checkboxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 50px;
}

.checkbox-item {
  display: flex;
  align-items: center;
  margin: 5px;
  width: 75%;
}

.checkbox-item input {
  margin-right: 10px;
}

.orangeText {
  color: #E96040;
}


.Reserve {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.Reserve .restaurant-info {
  text-align: center;
  margin-bottom: 20px;
}

.Reserve .restaurant-info img {
  width: 200px;
  height: auto;
  margin-bottom: 10px;
  border-radius: 10px;
}

.Reserve .form-group {
  margin-bottom: 20px;
  text-align: left;
  width: 100%;
  max-width: 300px;
}

.Reserve label {
  display: block;
  margin-bottom: 5px;
  color: #E96040;
  font-weight: bold;
}

.Reserve input,
.Reserve select {
  padding: 10px;
  border: 1px solid #E96040;
  border-radius: 5px;
  width: 100%;
}

.Reserve .button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
  margin-top: 20px;
}

.Reserve .orange-button {
  background-color: #E96040;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.5s;
  font-size: 16px;
  font-weight: bold;
  flex: 1;
  margin: 0 5px;
  max-width: 140px;
}

.Reserve .orange-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.Home {
  
}
.Home,
.Favorites {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  max-width: 600px;
  width: 100%;

}

.button-center {
  display: flex;
  justify-content: center;
  align-items: center;

}

.restaurant-item img,
.dish-item img {
  width: 250px;
  height: auto;
}

.Home .orange-dropdown {
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  background-color: #E96040;
  color: white;
  border: 1px solid #E96040;
  margin: 3px;
  border-radius: 5px;
  width: 100%;
}

.Home .orange-dropdown option {
  background-color:white;
  color:black;
  font-size: 16px;
  padding: 8px;
}

.restaurant-container, .dish-container {
  display: flex;
  overflow-x: auto;
  padding: 20px;
  margin: 10px 0;
}

.restaurant-item, .dish-item {
  flex: 0 0 auto;
  margin-right: 20px;
  text-align: center;
  min-width: 250px;
}

.Home .dropdown-section {
  display: flex;
  justify-content: space-between;
  font: 15px;
}

.FavButton {
  background-color: #E96040;
  color: white;
  border: none;
  border-radius: 20px;
  margin: 10px 10px;
  cursor: pointer;
  transition: background-color 0.5s;
  font-size: 18px;
  font-weight: bold;
  min-width: 100px;
  width: calc(100% - 40px);
  padding: 5px;
  display: block;
}

h4 {
  margin-top: 0px;
  color: #E96040;
  font-weight: bold;
  font-size: 25px;
  margin: 0px;

}

.Home p {
  font-weight: normal;
  font-size: 22px;
  margin: 15px;
  margin-left: 0px;
  color: black;
  text-align: left;
}

.Favorites p {
  font-weight: normal;
  font-size: 22px;
  margin: 15px;
  margin-left: 0px;
  color: black;
  text-align: left;
}

.RestaurantInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.RestaurantInfo .content {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  text-align: center;
}

.RestaurantInfo .restaurant-info {
  margin-bottom: 20px;
}

.RestaurantInfo .restaurant-info img {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-bottom: 10px;
}

.RestaurantInfo .restaurant-info h2 {
  color: #E96040;
}

.RestaurantInfo .recommended-menu {
  margin-top: 20px;
}

.RestaurantInfo .menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.RestaurantInfo .menu-item img {
  width: 200px;
  height: auto;
  margin-bottom: 10px;
  margin-top: 15px;
}

.RestaurantInfo .menu-item h5 {
  color: #E96040;
  margin-bottom: 5px;
  font-size: 20px;
}

.RestaurantInfo .button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.RestaurantInfo .button-container button {
  flex: 1;
  margin: 0 10px;
}

.MyDiningGroups {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.MyDiningGroups .content {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  text-align: center;
  display: center;
}

.MyDiningGroups .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.MyDiningGroups .search-bar {
  margin-bottom: 20px;
}

.MyDiningGroups .search-bar input {
  width: 100%;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
}

.MyDiningGroups .group-list {
  margin-bottom: 20px;
}

.MyDiningGroups .group-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
}

.MyDiningGroups .group-item.selected {
  background-color: #E96040;
  color: white;
}

.MyDiningGroups .group-item.selected .group-details p {
  color: white;
}

.MyDiningGroups .group-icon {
  margin-right: 10px;
}

.MyDiningGroups .group-icon img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.MyDiningGroups .group-details {
  text-align: left;
}

.MyDiningGroups .button-container {
  display: flex;
  justify-content: space-around;
}

.GroupDining {
  text-align: center;
}

.GroupDining .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #E96040;
  color: white;
}

/* .GroupDining .orange-button {
  background-color: #E96040;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.5s;
  font-size: 18px;
  font-weight: bold;
  min-width: 200px;
} */


.GroupDining .user-images {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.GroupDining .image-container {
  margin: 0 10px;
  text-align: center;
}

.GroupDining .image-container img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.GroupDining .image-container span {
  display: block;
  margin-top: 5px;
  font-size: 14px;
}

.GroupDining .dropdowns {
  margin-top: 20px;
}

.GroupDining .orange-dropdown {
  margin: 10px;
  padding: 10px;
  border: 1px solid #E96040;
  border-radius: 5px;
  color: white;
  background-color: #E96040;
  font-size: 15px;
  font-weight: bold;
}

.GroupDining .recommended-restaurants {
  margin-top: 20px;
}

.GroupDining .restaurant-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.GroupDining .restaurant-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  max-width: 250px;
}

.GroupDining .restaurant-container.selected {
  border: 2px solid #E96040;
}

.GroupDining .restaurant-image-container {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 10px;
}

.GroupDining .restaurant-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.GroupDining .restaurant-info {
  text-align: center;
}

.GroupDining .current-selection {
  margin-top: 20px;
  text-align: center;
}

.GroupDining .selected-restaurant-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.GroupDining .selected-restaurant-container img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.GroupDining .selected-restaurant-info {
  text-align: center;
}

.Rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.Rating h2 {
  font-weight: bold;
  margin-bottom: 20px;
}

.Rating form {
  width: 100%;
  max-width: 400px;
}

.Rating .preference-question {
  margin-bottom: 20px;
}

.Rating .unmet-preferences {
  margin-bottom: 20px;
}

.Rating .rating-sections {
  margin-bottom: 20px;
}

.Rating .rating-section {
  margin-bottom: 10px;
}

.Rating .star-rating {
  display: inline-block;
}

.Rating .star {
  color: #ccc;
  cursor: pointer;
  font-size: 24px;
}

.Rating .star.filled {
  color: #E96040;
}

.Rating .restaurant-retention {
  margin-bottom: 20px;
}

.Rating .retention-button {
  background-color: #ccc;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}

.Rating .retention-button.selected {
  background-color: #E96040;
}

.Rating .favorite-toggle {
  margin-bottom: 20px;
}

.Rating .heart-icon {
  color: #ccc;
  cursor: pointer;
  font-size: 24px;
}

.Rating .heart-icon.filled {
  color: #E96040;
}

.Rating .submit-button {
  background-color: #E96040;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}